<div class="container center">


<h1> Start Using Tomorrow's Technology</h1>


<br>
</br>
	 <form class="form-inline" role="form">
            <div class="form-group">
              <input type="tel" class="form-control" id="search" placeholder="Enter Mobile Number">
            </div>
            <button type="submit" class="btn btn-default btn-lg">Continue ></button>
          </form>          

</div>
